<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8XiTk2DxuWaLz_06CrTbkg7OuJDWcfjs</string>
	<key>GCM_SENDER_ID</key>
	<string>821741951227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vmake.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blackcofferproject-8c001</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcofferproject-8c001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821741951227:ios:c29fbf012de6f0b3d6b85e</string>
</dict>
</plist>